.article {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &-image {
    margin: 0 0 $base*1.5 0;
    width: 100%;

    @media (min-width: $desktop) {
      width: calc(100% + 300px);
      position: relative;
      left: -150px;
    }
  }

  &-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 $base*1.5 0;

    &-image {
      max-width: 100px;
      border-radius: 100%;
      margin: 0 $base*1.25 0 0;
    }

    &-name {
      margin: 0;
      font-weight: bold;
    }
  }

  &-card {
    margin: 0 0 $base*1.25 0;
    border-bottom: 1px solid $grey;

    .article-image {
      width: 100%;
      left: 0;
    }
  }
}
