.btn {
  display: block;
  padding: $base*.75 $base;
  font-weight: bold;
  font-size: $base*1.25;
  border: 0;
  border-radius: $base/4;
  margin: 0 auto $base*2;
}

.primary-btn {
  background: $red;
  color: white;

  &:hover {
    opacity: .8;
  }
}

.success-btn {
  background: $green;
  color: white;
}
