.header {
  padding: $base 0;
  width: 100%;


  @media (min-width: $desktop) {
    padding: $base*2 0;
  }

  &-logo {
    display: flex;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
  }
}
