.modal {
  background: white;
  padding: $base*3 $base $base;
  width: calc(100% - #{$base}*2);
  max-width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  box-shadow: 1px 5px 10px rgba(0,0,0,.5);

  &-close {
    position: absolute;
    top: $base;
    right: $base;

    &:hover {
      opacity: .5;
    }
  }
}
