.rate {
  &-star {
    display: inline-block;
    font-size: 1rem;
    margin: 0 0 $base 0;

    &:hover {
      svg {
        path {
          fill: gold;
        }
      }
    }

    input {
      display: none;
    }

    .svg {
      margin-right: 0.5em;
    }

    input:checked + svg {
      path {
        fill: gold;
      }
    }
  }
}
