h1 {
  font-size: $base*2;
  line-height: 1em;
  font-weight: bold;
  margin: 0 0 $base*1.5 0;

  @media (min-width: $mobile) {
    font-size: $base*3;
    margin: 0 0 $base*2 0;
  }
}

h2 {
  font-size: $base*1.5;
  line-height: 1em;
  font-weight: bold;
  margin: 0 0 $base*1.5 0;

  @media (min-width: $mobile) {
    font-size: $base*2.25;
    margin: 0 0 $base*1.75 0;
  }
}

p {
  font-size: $base;
  line-height: 1.5em;
  margin: 0 0 $base*1.5 0;
}
